%p#notice= notice

%p
  %b Student:
  = subject_item_note.decorate.student_full_name
%p
  %b Subject item:
  = subject_item_note.subject_item

= link_to 'Edit', edit_subject_item_note_path(subject_item_note), class: 'btn btn-default'

= link_to 'Back', subject_item_notes_path, class: 'btn btn-default'

