%p#notice= notice

%p
  %b Student:
  = @subject_item_note.student
%p
  %b Subject item:
  = @subject_item_note.subject_item

= link_to 'Edit', edit_subject_item_note_path(@subject_item_note)

= link_to 'Back', subject_item_notes_path
