%p#notice= notice

%p
  %b Teacher:
  = subject_item.teacher

= link_to 'Edit', edit_subject_item_path(subject_item), class: 'btn btn-default'

= link_to 'Back', subject_items_path, class: 'btn btn-default'
%p
  %b Student:
  = subject_item.student

= link_to 'Edit', edit_subject_item_path(subject_item), class: 'btn btn-default'

= link_to 'Back', subject_items_path, class: 'btn btn-default'